<div>

  <form id="store-form" #appForm="ngForm">

    <fieldset>
      <legend>Enter New Store Sales Information</legend>
      <label for="location">Store Location</label>
      <input type="text" name="location" id="location" [(ngModel)]="model.location">

      <label for="min">Min Customer</label>
      <input type="number" name="min" id="min" [(ngModel)]="model.min">

      <label for="max">Max Customer</label>
      <input type="number" name="max" id="max" [(ngModel)]="model.max">


      <label for="average">Average Sale</label>
      <input type="number" name="average" id="average" [(ngModel)]="model.average">

      <button type="button" class="btn btn-default" (click)="newCity(appForm.value); appForm.reset()">Add
        Location</button>
    </fieldset>

    <div id="salmon cookies">
      <table>
        <tr>
          <th *ngFor="let header of headers">
            {{header}}
          </th>
        </tr>
    
        <tr *ngFor="let column of columns">
          <td>{{column}}</td>
          <div *ngFor="let row of rows">
            <td *ngFor="let i of row.i">
              {{i}}
            </td>
          </div>
        </tr>
    
      </table>

      <ul>
        <li *ngFor="let city of cityList">
          City: {{city.location}}
          Min Customers: {{city.min}}
          Max Customers: {{city.max}}
          Average: {{city.average}}
        </li>
      </ul>

    </div>

  </form>

  <!-- <table>
    <tr>
      <th *ngFor="let header of headers">
        {{header}}
      </th>
    </tr>

    <tr *ngFor="let column of columns">
      <td>{{column}}</td>
      <div *ngFor="let row of rows">
        <td *ngFor="let i of row.i">
          {{i}}
        </td>
      </div>
    </tr>

  </table> -->

</div>